APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=America/Argentina/Buenos_Aires
APP_URL=
LIVEWIRE_URL_PREFIX=

APP_VERSION=1.0.1

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

SYSTEM_MAINTENANCE=false # Con true se bloquea el sistema y sólo se tiene acceso con Usuarios/Modulos/Editar

# Control de envíos automatizados
MAIL_AUTOMATED_SENDING_ENABLED=true # Con false se bloquea TODO
MAIL_SENDING_INTERVAL=3
MAIL_RATE_LIMIT_PER_MINUTE=20

# Filtro de dominios para testing/desarrollo
MAIL_DOMAIN_FILTER_ENABLED=true # Con true se filtra SIEMPRE
MAIL_BLOCKED_EMAIL_BEHAVIOR=redirect_all  # redirect_all | redirect | log
MAIL_TESTING_REDIRECT_EMAIL=

BCRYPT_ROUNDS=12

JWT_SECRET=

OPENROUTER_API_KEY=
CONCURSO_ENCRYPTION_KEY=
GEMINI_API_KEY=
GROQ_API=

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Para conectar a producción sólo lectura
DB_HOST_PROD=
DB_USERNAME_PROD=
DB_PASSWORD_PROD=

DB_DATABASE_USUARIOS=
DB_USERNAME_USUARIOS=
DB_PASSWORD_USUARIOS=

DB_DATABASE_TICKETS=
DB_USERNAME_TICKETS=
DB_PASSWORD_TICKETS=

DB_DATABASE_INVENTARIO=
DB_USERNAME_INVENTARIO=
DB_PASSWORD_INVENTARIO=

DB_DATABASE_DOCUMENTOS=
DB_USERNAME_DOCUMENTOS=
DB_PASSWORD_DOCUMENTOS=

DB_DATABASE_ADMINIP=
DB_USERNAME_ADMINIP=
DB_PASSWORD_ADMINIP=

DB_DATABASE_CAPACITACIONES=
DB_USERNAME_CAPACITACIONES=
DB_PASSWORD_CAPACITACIONES=

DB_DATABASE_PROVEEDORES=
DB_USERNAME_PROVEEDORES=
DB_PASSWORD_PROVEEDORES=

DB_DATABASE_PROVEEDORES_EXTERNOS=
DB_USERNAME_PROVEEDORES_EXTERNOS=
DB_PASSWORD_PROVEEDORES_EXTERNOS=

DB_DATABASE_MESADEENTRADAS=
DB_USERNAME_MESADEENTRADAS=
DB_PASSWORD_MESADEENTRADAS=

DB_DATABASE_CONCURSOS=
DB_USERNAME_CONCURSOS=
DB_PASSWORD_CONCURSOS=

DB_DATABASE_AUTOMOTORES=
DB_USERNAME_AUTOMOTORES=
DB_PASSWORD_AUTOMOTORES=

DB_DATABASE_DESPACHO=
DB_USERNAME_DESPACHO=
DB_PASSWORD_DESPACHO=

DB_DATABASE_NOTICIAS=
DB_USERNAME_NOTICIAS=
DB_PASSWORD_NOTICIAS=

DB_DATABASE_FICHADAS=
DB_USERNAME_FICHADAS=
DB_PASSWORD_FICHADAS=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_CONNECTION=usuarios
SESSION_COOKIE="SISTEMASCCASA"

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

MAIL_MICROSOFT_GRAPH_CLIENT_ID=
MAIL_MICROSOFT_GRAPH_CLIENT_SECRET=
MAIL_MICROSOFT_GRAPH_TENANT_ID=
MAIL_MICROSOFT_GRAPH_FROM=
MAIL_MICROSOFT_GRAPH_NAME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME=